* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  }
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  height: 100vh;
  width: 100%;
  display: -ms-grid;
  background-image: url('../img/achtergrond.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
}
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
  height: 100%;
}
a{
  text-decoration: none;
}

strong{
  margin-right: 5vh;
}
nav{
  display: inline-block;
  width: 13%;
  text-align: center;
  height: 96vh;
  position: absolute;
  z-index: 500;
}
nav img{
  margin-top: 25%;
  height: 8vh;
  width: auto;
}
nav ul{
  display: block;
  position: absolute;
  top: 47%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  width: 100%;
}
input {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  font-weight: 400;
  padding: 1vh;
  padding-right: 15vw;
  color: black;
  background-color: rgba(0, 0, 0, 0);
  list-style: none;
  border-radius: 8px;
  border: 1px solid black;
}
select {
  outline: 0;
  box-shadow: none;
  background-image: none;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 3em;
  border-radius: 8px;
  border: 1px solid black;
  cursor: pointer;
}
footer{
  position: absolute;
  width: inherit;
  bottom: 5%;
  color: gray;
  font-size: 0.9em;
}
nav li {
  list-style: none;
  margin-bottom:10%;
}

nav li a {
  color: black;
  font-weight: 300;
  font-size: 1.6em;
  text-decoration: none;
  letter-spacing: 2px;
}
nav li:hover .nav__line {
  width: 80%;
}
.active {
  font-weight: 600;
}
.nav__line {
  margin-top: 5px;
  height: 2px;
  width: 0%;
  background-color: black;
  border-radius: 10px;
  -webkit-transition: width 0.25s;
  transition: width 0.25s;
}
.streepje{
  margin-right: 1vw;
  margin-left: 1vw;
}
.error{
  color: red;
  position: absolute;
  top: 15vh;
}
label{
  color: black;
  font-weight: 600;
  font-size: 1.3em;
}
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}



/* --- Layout --- */
#container_main{
  background-color: white;
  border-radius: 6vh;
  width: 95%;
  height: 96vh;
  overflow: auto;
}
#container_content{
  display: flex;
  float: right;
  align-items: center;
  justify-content: center;
  width:88%;
  overflow: hidden;
  height: 100%;
  overflow: auto;
}
#user_container{
  position: absolute;
  height: 7rem;
  width:17rem;
  top: 7.5%;
  right: 5%;
}
#user_image{
  border-radius: 50%;
  border: 0px;
  width: 26%;
  height: 63%;
  left: 8%;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#user_name{
  position: absolute;
  right: 20%;
  top: 51%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 1.2em;
  width: 50%;
  word-wrap: break-word;
  text-align: center;
  text-decoration:underline;
  color:black;
}
.user_container{
  transition: 0.3s ease;
}
.user_container:hover{
  transform:scale(1.2);
}

#dropdown_icon{
  position: absolute;
  width: 5%;
  height: 15%;
  top: 52%;
  right: 11%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  cursor: pointer;
  background-image: url('../img/drop-down-arrow.png');
  background-position: center;
  background-size:cover;
}
.dropdown_items{
  display: none;
  position: absolute;
  bottom: -40%;
  width: 100%;
  height: 45%;
}
.dropdown_item{
  cursor: pointer;
  text-align: center;
  background-color: rgba(0,0,0,0.15);
  border-radius: 0 0 3vh 3vh;
  height: 100%;
}
#logout-text{
  color: inherit;
  text-decoration: none;
  font-size: 1.4em;
  margin: 0;
  position: absolute;
  top: 42.5%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
/* --- */



/* --- Spices View Desktop --- */
#kruid_titel_container{
  position: absolute;
  width: 20%;
  top: 15%;
  left: 28%;
}
#kruid_container{
  position: absolute;
  width: 70%;
  height: 64%;
  overflow: auto;
  top: 26%;
  left: 20%;
}
#kruid_titel{
  font-size: 2.5em;
  font-weight: normal;
}
#kruid_new_container, .kruid_edit_container{
  background-color: white;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45%;
  height: 65%;
  border-radius: 8vh;
  z-index: 4000;
  box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.15);
  outline: none;
}
#kruid_editform{
  display: grid;
  width: 55%;
  height: 45%;
  grid-template-columns: auto;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#kruid_editform_closeicon{
  position: absolute;
  font-size: 1.8em;
  top: 7.5%;
  right: 10%;
  cursor: pointer;
}
#kruid_editform_title{
  font-size: 1.6em;
  margin: 7% 0 5% 10%;
  font-weight: normal;
}
.kruid_editform_inputfield{
  height: 42px;
  padding: 8px 0 8px 10px;
  border-radius: 1vh;
}
.kruid_editform_labels{
  font-weight: normal;
  font-size: 1.1em;
}
#kruid_editform_postbutton, #kruid_editform_backbutton{
  margin-top: 30px;
  background-color: #70B577;
  height: 45px;
  color: white;
  font-size: 1.25em;
  border-radius: 1vh;
  border: 1px solid white;
  box-shadow: 1px gray;
  font-weight: bold;
  cursor: pointer;
}
#kruid_editform_backbutton{
  margin-top: 8px;
  text-align: center;
  padding-top: 7px;
  background-color: #757575;
  text-decoration: none;
}
#kruid_editform_postbutton:hover{
  background-color: #027400;
}
#kruid_editform_backbutton:hover{
  background-color: #585858;
}
.kruid_editform_warning{
  margin-top: 2%;
  color: gray;
  text-align: center;
}
#background_create_exit_asset,#background_edit_exit_asset{
  display: none;
  position: fixed;
  background-color: black;
  opacity: 50%;
  width: 100vw;
  height: 100vh;
  z-index: 2999;
  top: 0;
  left: 0;
}
.item_icons_container{
  position: absolute;
  height: 20%;
  width: 100%;
  bottom: 5%;
}
#image_edit, #image_delete{
  position: absolute;
  border-radius: 60%;
  width: 24%;
  height: 85%;
  padding: 2px 10px;
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: 1px 4px 3px 1px rgba(0,0,0,0.4);
  cursor: pointer;
  background-color: #a1cc93;
  top: 35%;
  left: 36%;
  transform: translate(-50%,-50%);
}
#image_edit:hover{
  background-color: #64b379;
  border: 3px solid #45633c;
  transition: 0.1s;
}
#image_delete{
  background-position: 48% 45%;
  background-size: 28px 25px;
  background-repeat: no-repeat;
  background-color: #c76767;
  left: 65%;
}
#kruid_delete_option{
  width: 20%;
  height: 15%;
  display: inline-block;
}
#image_delete:hover{
  border: 3px solid #753137;
  background-color: #a6453d;
  transition: 0.1s;
}
.kruid_editContainer{
  position: absolute;
  top: 50%;
  left: 53%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
}
.kruid_editContainer_grid{
  display: grid;
  width: 55%;
  height: 45%;
  grid-template-columns: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.gridcontainer{
  margin-top: 10px;
  display: grid;
  grid-column-gap: 50px;
  grid-row-gap: 15px;
  grid-template-columns: auto auto auto;
  justify-content: center;
}
.griditem{
  position: relative;
  text-align: center;
  width: 250px;
  height: 265px;
  background-color: rgba(0, 0, 0, 0);
  list-style: none;
  border-radius: 20px;
  border: 1px solid rgba(0,0,0,0.15);
  box-shadow: 1px 6px rgba(0,0,0,0.2);
  transition: 0.25s;
  margin-bottom: 2vh;
}
.griditem:hover{
  transform: scale(1.1);
}
.griditem, h2{
  margin-top: 0.5vh;
}
.item_image, .item_image_new{
  width: auto;
  height: 42%;
  border-radius: 10%;
  margin: 12% auto 1% auto;
}
.item_image_new{
  height: 50%;
  margin: 12% auto 8% auto;
}
.item_description, .item_description_new{
  font-weight: 500;
  font-size: 1.2em;
  margin-top: 10px;
  margin-bottom: 13px;
  width: 100%;
  text-align: center;
}
.item_description_new{
  font-size: 1.4em;
}
.gridlink{
  text-decoration: none;
  color: inherit;
}
/* --- */



/* --- Mix View Desktop --- */
.gridcontainer--mix{
  grid-template-columns: auto auto;
}
.grid_mix_container{
  display: inline-grid;
  grid-row-gap: 5px;
  grid-template-columns: auto;
}
.griditem-mix{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  width: 100%;
  height: 100%;
}
.mix-circle{
  background: #47AC4D;
  height:12px;
  width:12px;
  border-radius:100%;
  text-align:center;
  display:inline-block;
}
.mix-title{
  width:100%;
  height: 3rem;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  margin-top: 10%;
}
.mix-spice-list{
  position: absolute;
  width: 45%;
  height: 45%;
  list-style-type:none;
  text-align: right;
  left:3%;
  top: 47%;
  transform: translateY(-50%);

}
.mix-amount-list{
  position: absolute;
  width: 45%;
  height: 45%;
  right:0;
  list-style-type:none;
  text-align: left;
  right:3%;
  top: 47%;
  transform: translateY(-50%);
}

.mix-li-items{
  position: relative;
  padding-top: 10%;
  padding-bottom: 10%;
  margin: 0 auto;
  font-size: 1.1em;
}

.mix-dispense-button{
  position: absolute;
  width: 80%;
  height: 15%;
  left:50%;
  bottom: 10%;
  transform: translateX(-50%);
  background: #FFFAFA;
  border: 1px solid #70B577;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 17px;
  font-size:14px;
  text-align:center;
  font-weight:600;
  cursor:pointer;
  transition:0.5s;
}

.mix-dispense-button:hover{
  background-color:#47AC4D;
  color:white;
}
.mix_warning_button{
  position: absolute;
  width: 30%;
  height:90%;
  right: 18%;
  top: 50%;
  transform: translateY(-50%);
  background-color: #C2636E;
  color: white;
  font-weight: bold;
  border: 1px solid silver;
  border-radius: 0.9rem;
  cursor: pointer;
  transition:0.5s;
}
.mix_warning_button:hover{
  background-color: #7a0000;
}
.mix-edit{
  position: absolute;
  right: 0;
  padding: 4%;
  font-size:0.9em;
  text-decoration:underline;
  font-style: italic;
  color:black;
}
.griditem--mix{
  width: 300px;
  height: 300px;
}
.mix-flex-wrapper{
  display:flex;
  justify-content:center;
  height:100%;
  width:100%;
  align-items:center;
  flex-wrap: wrap;
  overflow-y:scrol
}
.mix-flex-wrapper h1{
  z-index:1000;
  flex-basis: 100%;
  margin-left:24%;
  margin-top:13.5vh;
  font-size:2.5em;
  font-weight:normal;
}
.mixLayout{
  width:70%;
  height:80%;
  margin: 0;
  display:grid;
  grid-template-columns: repeat(3,1fr);
  justify-items:center;
  grid-auto-rows: 270px;
  row-gap: 50px;
  margin-left:5%;
  padding: 3%;
  overflow: scroll;
}
.add-mix-card{
  background: #70B577;
  border: 1px solid #70B577;
  box-sizing: border-box;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
.mix-card{
  height:100%;
  width:70%;
  background: #FFFFFF;
  border: 1px solid #70B577;
  box-sizing: border-box;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding:5%;
}
.mix-card-content{
  padding:5%;
}
.mix-card-content ul li{
  list-style-type:none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin-top:20px;
}
.mix-card-content button{
  display:block;
  width:60%;
  height:40px;
  background: #FFFAFA;
  border: 1px solid #70B577;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 17px;
  margin-left:auto;
  margin-right:auto;
  margin-top: 15vh;
  font-size:14px;
  text-align:center;
  font-weight:600;
  cursor:pointer;
  transition:0.5s;
}
.mix-card-content button:hover{
  background-color:#47AC4D;
  color:white;
}
/* --- */


/* --- Mix Modal Desktop ---*/
.add-mix-modal{
  position:fixed;
  left:0%;
  top:0%;
  width: 100vw;
  height:100vh;
  background-color: rgba(0,0,0,0.5);
  opacity: 0;
  transform:scale(1.1);
  transition:visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  z-index:5000;
  display:none;
  overflow: hidden;
}

.add-mix-modal-content{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  background-color:white;
  padding:3%;
  width:35%;
  border-radius:15px;
  z-index:5000;
  height:85%;
}
.add-mix-modal-content-close-button{
  float:right;
  cursor:pointer;
  font-size: 25px;
}
.add-mix-modal-content-close-button:hover{
  background-color:darkgray;
}
.show-add-mix-modal{
  opacity:1;
  display:block;
  transform:scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.add-mix-modal-content-container{
  z-index:1000;
}

.add-mix-modal-content-header h2{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
}

.add-mix-modal-content-container-form input{
  width:79%;
  margin-top:2%;
  height:4vh;
  border: 1px solid #5C5C5C;
  box-sizing: border-box;
  border-radius: 1vh;
  padding:8px;
  font-size:16px;
}
.add-mix-modal-content-container-form-kruid-select{
  width:100%;
  margin-top:2%;
  height:4vh;
  border: 1px solid #5C5C5C;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding:6px;
}

.add-mix-modal-content-container-form-hoeveelheid-select{
  width:20%;
  margin-top:2%;
  height:4vh;
  border: 1px solid #5C5C5C;
  box-sizing: border-box;
  border-radius: 10px;
  padding:5px;
  font-size:16px;
  font-weight: bold;
  align-items: center;
  color:#5C5C5C;
}

.add-mix-modal-content-container-form label{
  display:block;
  font-size:1.1em;
  margin-top:3%;
  font-weight:normal;
}
.add-mix-modal-content-container-form-submit{
  width:100%;
  margin-top:6%;
  height:4vh;
  background: #47AC4D;
  border: 1px solid #5C5C5C;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 3vh;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
  cursor:pointer;
  transition: 0.5s;
}
.add-mix-modal-content-container-form-submit:hover{
  background-color: #027400;
}
.add-mix-card{
  transition: 0.8s;
  cursor:pointer;
}
.add-mix-card:hover{
  background-color:white
}

.add-mix-card figcaption{
  font-size:20px;
}
.add-mix-card-icon{
 color:black;
 font-size:50px;
 display:block;
 text-align:center;
}
/* --- */



/* --- Mix Edit Page Desktop --- */
.mixEdit{
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
}
.mixEdit-form{
  width:30%;
}
.mixEdit-form input{
  height: 42px;
  padding:10px;
  border-radius: 1vh;
  border: 1px solid #5C5C5C;
  font-size:16px;
}
.mixEdit-form select{
  border: 1px solid #5C5C5C;
  border-radius: 1vh;
  padding:8px;
  font-size:16px;
}

.mixEdit label{
  font-size:1em;
  display:block;
  width:100%;
  margin-top:1vh;
  margin-bottom:1vh;
  font-weight:bold;
}
.mix-edit-spice{
  width:100%;
}
.edit-hoeveelheid-input{
  width:60%;
  height:4.5vh;
}
.mix-edit-hoeveelheid{
  width:35%;
  height:4.4vh;
}
.mixEdit-form button{
  width:100%;
  margin-top:6%;
  height:4vh;
  background: #47AC4D;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
  cursor:pointer;
  transition: 0.5s;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding:8px;
  border:1px solid #5c5c5c;
}
.form_delete button{
  background: #F44336;
}
/* --- */



/* --- Compartment View Desktop --- */
.compGrid{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 3rem;
  margin-right: 21vh;
}
.compCard{
  height:35vh;
  width: 21vh;
  border-radius: 15px;
  /* background-color: #f5d1b5; */
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.25);
  border-color: #C4C4C4;
}

.compHeaderContainer{
  width:100%;
  display: flex;
  justify-content: center;
}
.compHeader{
  font-weight: bold;
  display:inline-block;
  color: black;
  font-size: 24px;
  margin-top: 5vh;
}
.compSensorContainer{
  display: flex;
  justify-content: center;
  flex-direction: row;
  width:100%;
  margin-top:5vh;

}
.compSensor{
  height:22vh;
  width:25vh;
  margin-bottom: 2vh;
  border-radius: 15px;
  background-color: #70B577;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
}

.compHoeveelheid{
  margin-top:5px;
}
.compSelect{
  width:200px;
  display:block;
  margin: 1vh auto;
  text-align: center;
  font-size: 1em;
}

.container_text{
  text-align: center;
}

.compSpiceGrid{
  position: absolute;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 3rem;
  margin-right: 21vh;
  display: grid;
  margin-top: 55vh;
}

.compSpiceCard{
  height:10vh;
  width: 21vh;
  border-radius: 15px;
  /* background-color: #f5d1b5; */
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.25);
  border-color: black;

}

.compEditGrid{
  position: absolute;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 3rem;
  margin-right: 21vh;
  display: grid;
  margin-top: 70vh;
}

.compEditCard{
  height:3vh;
  width: 21vh;
  border-radius: 15px;
  /* background-color: #f5d1b5; */
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.25);
  border-color: black;
}

.comp1Fill, .comp2Fill, .comp3Fill {
  background-color: #70B577;
  width: auto;
  border-radius: 18px;
}

.add_kruid {
  display: block;
}

.update_kruid, .add_kruid {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  cursor: pointer;
  margin: 0 auto;
  width: 100%;
  height: 5vh;
  margin-top: 2vh;
  padding-top: 1.3vh;
  border-radius: 10px;
  border: 1px solid black;
  background-color: #ffffff;
  text-align: center;

  letter-spacing:2px;
  color: black;
  text-decoration: none;
  transition: 0.25s;
}

.update_kruid {
  display: block;
}

.update_kruid:hover, .add_kruid:hover {
  transform: scale(1.1);
  cursor: pointer;
  font-weight: bold;
  border: 1px solid black;
  background-color: #70B577;
  color: white;
  border: none;
}

.makeMix {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 20px;
  border: 1px solid black;
  background-color: #ffffff;
}

#uitleg_1{
  position: absolute;
  bottom: 24vh;
  left: 6vw;
  width: 20%;
  display: none;
}

#uitleg_2{
  position: absolute;
  right: 3vw;
  bottom: 17vh;
  width: 20%;
  display: none;
}
.compImage{
  position: absolute;
  height: 100px;
  width: 100px;
  margin-top: -150px;
  margin-left: -50px;
  }

.updateCompButton{
  width: 200px;
  height: 200px;
  border-radius: 32px;
  border: none;
  background-color: #fefcfc;
  box-shadow: 0px 5px 5px 5px rgba(0,0,0,0.25);
  transition: 1s;
  }

.updateCompButton:hover{
  transform: scale(1.1);
  cursor: pointer;
  }

.updateCompDescription{
  margin-top: 150px;
  font-size: 1.5em;
  font-weight: 300;
  color: black;
  }

.updateCompTitel{
  font-size: 2em;
  font-weight: 400;
  color: black;
  margin-bottom: 50px;
  position: absolute;
  top: 150px;
  left: 300px;
  }

.updateCompList {
  position: absolute;
  top: 250px;
  left: 320px;
  line-height: 30px;
  }
.updateKruidContainer{
  position: absolute;
  width: 70%;
  height: 40%;
  overflow: auto;
  top: 50%;
  left: 20%;
  }
/* --- */


/* --- ???? ---- */
.grid{
  display: inline-grid;
  grid-row-gap: 20px;
  grid-template-columns: auto;
}


.btn_nieuw {
  position: fixed;
  bottom: 80px;
  right: 120px;
  color: black;
  font-size: 1.5em;
  text-decoration: none;
  letter-spacing: 5px;
  transition: 0.25s;
}

.btn_plus {
  position: absolute;
  font-size: 2.5em;
  bottom: -22px;
  right: -50px;
}

.btn_nieuw:hover {
  transform: scale(1.1);
}


.card{
  margin-top: 10vh;
}
.card-email{
  margin-top:35vh;
  display:flex;
  justify-content:center;
  flex-direction:column;
  align-items:center;
}

.card-header{
  color: black;
  font-weight: 400;
  font-size: 2em;
  margin-bottom: 2vw;
  text-align:left;
}

.card-h1{
margin-right: 17vh;
}

.card-body{
  color: black;
}

.col-form-label{
  font-weight: 600;
  font-size: 1.3em;
}

.col-md-8{
  margin-top: 2vh;
}

p, .password_message{
  font-size: 14px;
}

strong{
  padding-bottom: 5vh;
}
/* p, .invalid-feedback-p{
  font-size: 18px;
} */
.btn {
  font-family: 'Montserrat', sans-serif;
  background-color: #ffddc2;
  border: none;
  border: 1px solid black;
  color: black;
  padding: 10px 28px;
  text-align: center;
  text-decoration: none;
  border-radius: 8px;
  font-weight: 500;
  font-size: 1.4em;
  transition: 0.25s;
}

.btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.btnMix{
  margin-bottom: 2vh;
}


.btn_update {
  margin-top: 1.4vh;
  margin-bottom:0;
}
.editContainer{
  display:flex;
  flex-flow:row wrap;
  align-items: center;
  margin-top:25vh;

}

.backButton{
  color: black;
  text-decoration: none;
  font-size: 1.5em;
  position: absolute;
  left: 15vw;
  top: 15vh;
}

.infoButton{
  color: black;
  text-decoration: none;
  font-size: 1.5em;
  position: absolute;
  left: 15vw;
  top: 15vh;
  cursor: pointer;
}

.back_btn_phone {
  display: none;
}
.kruid_deleteForm{
  margin: 20px auto;
  text-align: center;
}

.kruidButtonUpdate{
  display: block;
  margin: 30px auto 0 auto;
  width: 200px;
}
.kruidEditDelete{
  width: 200px;
}
.btn_delete{
  margin: 0 0 0 0;
}
.back-arrowA{
  color:black;
  text-decoration: underline;
  transition: 0.2s ease;
  z-index: 200;
}
.back-arrow{
  /* margin-left: -45vw;
  margin-top: -25vh; */
  z-index:200;
  position: absolute;
  top: 160px;
  right: 400px;

}

.back-arrow a:hover{
  color:rgb(158, 167, 163);
}
/* --- */



/* --- Login View Desktop --- */
.login-wrapper{
  left:40%;
  width:60%;
  height:100%;
  background-color:white;
  z-index:100;
  position:absolute;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
}
.login-container{
  display:flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  height:100%;
}
.login-container-item-wrapper{
  height:70%;
  width: 60%;
  display:flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
}
.login-content{
  display:flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height:100%;
  width:100%;
}
.login-header{
  font-size: 24px;
  font-weight:normal;
  font-style: normal;
  text-align: center;
  margin-bottom:3vh;
}
.login-logo{
  margin-bottom:5%;
  display:flex;
  justify-content: center;
}
.login-label{
  font-size: 16px;
  line-height: 17px;
  margin:5px;
  font-weight: 500;
  font-style: normal;
  color:black;
}
.login-input{
  width:26vw;
  height:4vh;
  font-size:18px;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin-top:0.8vh;
  margin-bottom:1.5vh;
  padding: 5px;
}

.login-input::placeholder{
  opacity:65%;
  font-size: 16px;;
}
.login-remember{
  font-size:18px;
  margin-top:2vh;
  margin-bottom:2vh;
}
.forgot-password{
  margin-top:1vh;
}
.forgot-password a:link{
  color:black;
  text-decoration: underline;
  font-size:16px;
  transition: 0.2s ease;
  font-weight: bold;
  text-align:left;
}
.forgot-password a:hover{
  color:rgb(158, 167, 163);
}

.login-button{
  width:26vw;
  height:4vh;
  background: #70B577;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  color:white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  transition: 0.4s ease;
  cursor: pointer;
}
.login-button:hover{
  transform: translate3D(0,-1px,0) scale(1.03);
}
.register{
  margin-top:2vh;
}
.register a{
  text-decoration:underline;
  color:#70B577;
  font-weight:500;
  cursor: pointer;
  transition: 0.2s ease;
}
.register a:hover{
  color:rgb(158, 167, 163);
}

.login-escape-container{
  height:50px;
  width:50px;
}

.login-arrow{
  margin-left:5vw;
  margin-top:5vh;
  z-index:200;
  position: absolute;
}
.arrow-image{
  margin-right:1vw;
}
.login-arrow a{
  color:black;
  text-decoration: underline;
  transition: 0.2s ease;

}
.login-arrow a:hover{
  color:rgb(158, 167, 163);
}
/* --- */
#account_resetbutton{
    margin-top: 2vh;
    font-size: 1em;
    width:100%;
    background: #70B577;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color:white;
    border:none;
  }



@media only screen and (max-width: 1050px) {
  body{
    background:white;
  }
  main label{
    align-self: left;
  }
  main{
    padding-bottom: 100px;
  }
  #logo{
    position: absolute;
    top:3.5vh;
  }
  #layout_nav{
    width: 100vw;
    height: 120px;
  }
  nav ul{
    display: flex;
    position: fixed;
    justify-content: space-around;
    top: 17%;
  }
  nav{
    width: 480px;
    margin: 0 auto;
    margin-bottom: -40px;
  }
  nav li a{
    letter-spacing: 1px;
    font-size: 1.25em;
  }
  #container_main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 100vh;
    width: 100%;
    border-radius: 0;
  }
  #container_content{
    position: absolute;
    width:100%;
    height: 80%;
    bottom: 0;
    overflow-x: hidden;
  }
  .gridcontainer{
    width:100%;
    grid-template-columns: auto auto;
    display: inline-grid;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 0 auto;
  }
  .streepje{
    display: none;
    margin-right: 2px;
    margin-left: 2px;
  }
  footer{
    bottom: 2%;
    margin-left: 2vh;
  }



/* --- Login Changes Mobile --- */
  .login-wrapper{
    top: 0%;
  }
  .login-arrow a{
    font-size: 14px;
    margin-left: 1em;
  }
  .login-logo-image{
    margin-top: 2.5%;
    width: 50%;
  }
  .login-input{
    width: 50vw;
  }
  .login-button{
    width: 50vw;
  }
  #account_forgotdiv,#account_rememberdiv{
    display: block;
  }
  #account_rememberdiv{
    margin-top: 5px;
    margin-bottom:10px;
  }
  #account_forgotdiv{
    margin-bottom: 20px;
  }
  #account_resetbutton{
    margin-top: 2vh;
    font-size: 1em;
  }
  #account_forgotdiv{
    margin-bottom:10px;
  }
  .login-wrapper{
    width:100%;
    left:0;
  }
  .login-form input{
    width:100%;
  }
  .login-button{
    width:100%;
    height:5vh;
  }
  .login-logo{
    text-align: center;
    margin-top:10vh;
    margin-bottom: 3vh;
  }
/* --- */


/* --- ????? --- */
  .card{
  text-align: left;
  }
  .card-header{
  margin-bottom: 20px;
  font-size:26px;
  }
  .infoButton{
  font-size: 1.2em;
  left: 41%;
  top: 120px;
  }
  #uitleg_1{
  position: absolute;
  bottom: 23vh;
  left: 2vw;
  width: 30%;
  display: none;
  }
  #uitleg_2{
  position: absolute;
  right: 3vw;
  bottom: 13%;
  width: 30%;
  display: none;
  }
  .invalid-feedback{
  display:block;
  }
  #form_delete{
  display: block;
  margin-top: 3vh;
  margin-bottom: 3vh;
  text-align: center;
  height: 4vh;
  background-color: red;
  }
  .btn_delete{
  width: 100%;
  }
  .btn_nieuw{
  bottom: 3.5vh;
  right: 50px;
  font-size: 1em;
  }
  .btn_plus{
  font-size: 2em;
  bottom: -9px;
  right: -30px;
  }
  .container{
  display:flex;
  justify-content: center;
  }
  .form-group{
  margin-bottom: 3vh;
  }
  .editForm{
  width: 100%;
  }
  .editForm input{
  padding-right:0;
  }
  .kruidEdit_container{
  margin: 0;
  padding: 0;
  position: absolute;
  left: 50%;
  top: 300px;
  transform: translate(-50%,-50%);
  text-align: center;
  }
  .kruid_deleteForm{
  margin-top: 5%;
  }
  .kruidEdit_input{
  margin-top: 10px;
  height: 50px;
  }
  .kruidButtonUpdate{
  position: relative;
  margin: 20px 0 0 0;
  width: 100%;
  background-color: red;
  }
  .kruidEditDelete{
  display: inline-block;
  width: 100%;
  }
  .back_btn_phone {
  display: block;
  position: absolute;
  top: 35%;
  left: 10%;
  color: black;
  font-size: 1em;
  text-decoration: none;
  letter-spacing: 5px;
  }
  .update_kruid2{
  padding-top: 0vh;
  }
/* --- */



/* --- Compartment Mobile Changes --- */
  .compGrid{
    margin-left: 21vh;
    margin-top: 80vh;
  }
  .compCard{
    margin-top: 20vh;
  }
  h1, .compSelect{
    padding-right: 2.5vh;
  }
  .compGrid{
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 8vh;
  }
  .btn_update {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 2vh;
  }
  .btn_plus_footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 10vh;
    width: 100%;
    background-color: #f5d1b5;
  }
  .infoButton {
    display: none;
  }
  .updateCompTitel{
    top: 0px;
    left: 30px;
    z-index: 100;
    font-size: 1.5em;
  }
  .updateCompList{
    top: 60px;
    left: 32px;
    line-height: 20px;
    font-size: 0.9em;
  }
  .updateKruidContainer {
    position: absolute;
    width: 100%;
    height: 63%;
    top: 30%;
    left: 0%;
  }
  .updateCompForm {
    margin-top: 10px;
  }
  .updateCompButton {
    width: 150px;
    height: 200px;
    grid-column-gap: 50px;
  }
  .back-arrowA {
    display: none;
  }
/* --- */



/* --- Login Mobile Changes --- */
  #user_container {
    position: absolute;
    height: 2rem;
    width: 40%;
    height: 10%;
    top: 0%;
    right: 0%;
    z-index: 1000;
  }
  #user_name{
    position: absolute;
    right: 20%;
    top: 51%;
    width: 70%;
    height: 100%;
    padding-top: 15%;
    padding-bottom: 15%;
  }
  #logout-text {
    font-size: 1em;
  }
  #dropdown_icon {
    position: absolute;
    width: 8%;
    height: 20%;
    z-index: 600;
    top: 48%;
  }
  .dropdown_items{
    display: none;
    position: absolute;
    bottom: -25%;
    width: 100%;
    height: 55%;
    z-index: 700;
  }
/* --- */



/* --- Spices Mobile Changes --- */
  .griditem{
    width: 40vw;
    height: 20vh;
    border-radius: 20px;
  }
  .griditem, h2{
    font-size: 16px;
  }
  .item_description{
    position: absolute;
    font-size: 1em;
    top: 55%;
    transform: translateY(-50%);
  }
  #kruid_container{
    width: 98%;
    height: 80%;
    top: 52%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: auto;
  }
  #kruid_titel_container{
    left:0;
    top: 2%;
    width: 100%;
    text-align: center;
  }
  #kruid_titel{
    font-size: 2.2em;
  }
  .item_icons_container{
    position: absolute;
    height: 20%;
    width: 100%;
    bottom: 5%;
  }
  #image_edit{
    padding: 1.3% 4%;
    width: 24%;
    height: 90%;
  }
  #image_delete{
    background-size: 45%;
    background-position: 50% 50%;
    width: 24%;
    height: 90%;  
  }
  .item_image_new{
    height: 45%;
  }
  .item_image{
    height: 40%;
    margin-top: .8em;
  }
  .item_description_new{
    font-size: 1rem;
  }
  #kruid_editform_title{
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
  }
  .kruid_edit_container, #kruid_new_container{
    z-index: 4000;
    width: 85%;
    height: 70%;
  }

  .kruid_editform_labels{
    margin: 0 auto;
    width: 80%;
  }
  .kruid_editform_inputfield{
    margin: 0 auto;
    width: 80%;
  }
  #kruid_editform_postbutton{
    position: absolute;
    width: 80%;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #kruid_editform{
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 35%;
    font-size: 0.9em;
  }
  .kruid_editform_warning{
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    font-size: 0.9em;
  }
  #kruid_editform_closeicon{
    font-size: 1.5em;
    top: 4%;
    right: 12%;
  }
  #background_create_exit_asset,#background_edit_exit_asset{
    z-index: 1000;
  }
/* --- */



/* --- Mix Mobile Changes --- */
  .gridcontainer--mix{
    grid-template-columns: auto;
    margin-top:5vh;
  }
  .griditem--mix{
    width: 16rem;
    height: 18rem;
  }
  .mixEdit-form{
    width:60%;
    height:80%;
  }
  .mixEdit-form select{
    height:35px;
    font-size:12px;
    padding:5px;
  }
  .mixEdit-form input{
    height:35px;
    font-size:12px;
    padding:5px;
  }
  .mixEdit-form button{
    font-size:14px;
    line-height:0;
  }
/* --- */



/* --- Mix Modal Mobile Changes --- */
  .add-mix-modal-content{
    width: 80%;
    height:94%;
  }

  .add-mix-modal-content-header h2{
    margin-left: 2.5vh;
    font-size:18px;
  }

  .mix-flex-wrapper h1{
    margin-right: 9.5vh;
  }

  .add-mix-modal-content-container-form{
    margin-top: 2vh;
  }

  .add-mix-modal-content-container-form-submit{
    width: 90%;
  }
  .add-mix-modal-content-container-form-hoeveelheid-select{
    width: 40%;
  }
/* --- */
}
